# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/
env/

# Testing & Coverage
.pytest_cache/
.coverage
htmlcov/

# Temporary & OS files
*.tmp
.DS_Store
Thumbs.db
